__pycache__/
*.py[cod]
build/
dist/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.egg-info/
*.egg
*.log
pip-log.txt
pip-delete-this-directory.txt
*.mo
*.pot
*.manifest
*.spec
